# ══════════════════════════════════════════
# CLINICFLOW API — .env
# ══════════════════════════════════════════

# MySQL — Servidor dedicado externo
DATABASE_URL="mysql://clinicflow_user:Kr3m0g3m4@192.168.10.141:3306/clinicflow"

# Redis (Docker local)
REDIS_URL="redis://:SUA_SENHA_REDIS@localhost:6379"

# JWT
JWT_SECRET="dc1a47d33fc2c863f9bde366b0a78f5acc05c8a508e1d16b7e9c63e8a504603b3e2235ea2c517741109faad910651dab67c02ceeb638038abaad17e071ade301"
JWT_REFRESH_SECRET="7ff4f6ee8763e87c0f76e4af8788496247938779fe65d15139c0aff4e0f9433f08237e92744a5cd7f3d9970be142f6b8b6c87acb6075c6bdaa786f3b308bf1b7"

# Evolution API
EVOLUTION_URL="http://localhost:8080"
EVOLUTION_API_KEY="sua-chave-evolution-api"

# MinIO
MINIO_ENDPOINT="localhost"
MINIO_PORT="9000"
MINIO_ACCESS_KEY="clinicflow_minio"
MINIO_SECRET_KEY="sua-senha-minio"
MINIO_BUCKET="clinicflow-exams"

# App
PORT=3333
NODE_ENV=development
FRONTEND_URL="http://localhost:3000"
